@model Domaine.Offer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Add Offer
                </h1>
                <p class="text-white"><a href="Index.cshtml">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Contact Us</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->	

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="section-top-border">
        <h4 class="mb-30">Offer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-lg-8 col-md-8">
               
                <div class="mt-10">
                  
                    @Html.EditorFor(model => model.titleOffer, new { htmlAttributes = new { @class = "single-input", placeholder = "Title" } })
                    @Html.ValidationMessageFor(model => model.titleOffer, "", new { @class = "text-danger" })
                    
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
               
                <div class="mt-10">
                    @Html.EditorFor(model => model.referenceOffer, new { htmlAttributes = new { @class = "single-input", placeholder = "Offer Reference" } })
                    @Html.ValidationMessageFor(model => model.referenceOffer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
               
                <div class="mt-10">
                    @Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "single-input", placeholder = "Location" } })
                    @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
                
                <div class="mt-10">
                    @Html.EditorFor(model => model.durationOffer, new { htmlAttributes = new { @class = "single-input", placeholder = "Offer Duration" } })
                    @Html.ValidationMessageFor(model => model.durationOffer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
              
                <div class="mt-10">
                    @Html.EditorFor(model => model.salary, new { htmlAttributes = new { @class = "single-input", placeholder = "Salary" } })
                    @Html.ValidationMessageFor(model => model.salary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
                
                <div class="mt-10">
                    @Html.EditorFor(model => model.contractTypeOffer, new { htmlAttributes = new { @class = "single-input", placeholder = "Contact Type" } })
                    @Html.ValidationMessageFor(model => model.contractTypeOffer, "", new { @class = "text-danger" })
                </div>
            </div>

           

         
            <br />

            <div class="col-lg-8 col-md-8">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="genric-btn success" />
            </div>
            </div>
        </div>
    </div>
}
<!--
<div class="col-lg-8 col-md-8">
								<h3 class="mb-30">Form Element</h3>
								<form action="#">
									<div class="mt-10">
										<input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required="" class="single-input">
									</div>
									<div class="mt-10">
										<input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required="" class="single-input">
									</div>
									<div class="mt-10">
										<input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required="" class="single-input">
									</div>
									<div class="mt-10">
										<input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" class="single-input">
									</div>
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
										<input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required="" class="single-input">
									</div>
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
										<div class="form-select" id="default-select" "="">
											<select style="display: none;">
												<option value="1">City</option>
												<option value="1">Dhaka</option>
												<option value="1">Dilli</option>
												<option value="1">Newyork</option>
												<option value="1">Islamabad</option>
											</select><div class="nice-select" tabindex="0"><span class="current">City</span><ul class="list"><li data-value="1" class="option selected">City</li><li data-value="1" class="option">Dhaka</li><li data-value="1" class="option">Dilli</li><li data-value="1" class="option">Newyork</li><li data-value="1" class="option">Islamabad</li></ul></div>
										</div>
									</div>
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
										<div class="form-select" id="default-select" "="">
											<select style="display: none;">
												<option value="1">Country</option>
												<option value="1">Bangladesh</option>
												<option value="1">India</option>
												<option value="1">England</option>
												<option value="1">Srilanka</option>
											</select><div class="nice-select" tabindex="0"><span class="current">Country</span><ul class="list"><li data-value="1" class="option selected">Country</li><li data-value="1" class="option">Bangladesh</li><li data-value="1" class="option">India</li><li data-value="1" class="option">England</li><li data-value="1" class="option">Srilanka</li></ul></div>
										</div>
									</div>
									
									<div class="mt-10">
										<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
									</div>
									<!-- For Gradient Border Use -->
									<!-- <div class="mt-10">
										<div class="primary-input">
											<input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
											<label for="primary-input"></label>
										</div>
									</div> 
									<div class="mt-10">
										<input type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'" required="" class="single-input-primary">
									</div>
									<div class="mt-10">
										<input type="text" name="first_name" placeholder="Accent color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Accent color'" required="" class="single-input-accent">
									</div>
									<div class="mt-10">
										<input type="text" name="first_name" placeholder="Secondary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secondary color'" required="" class="single-input-secondary">
									</div>
								</form>
							</div>-->



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
