@model Domaine.ProjectManager

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProjectManager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team.teamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.teamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.projectManagerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
